{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "base/css/style.css" %}">
    {% block head %}{% endblock head %}
    <title>Bikcraft</title>
</head>
<body>
    <a href='{% url "pagina-inicial" %}'><img src="{% static "bikes/img/bikcraft.svg" %}" alt="Bikcraft"></a>

    <div class="menu">
        <a href="#">Sobre</a>
        <a href="{% url "listar-bikes" %}">Produtos</a>
        {% comment %} <a href="{% url "cadastra-bike" %}"> Cadastrar Produtos </a> {% endcomment %}
        <a href="{% url "listar-lojas" %}">Lojas</a>
        <a href="{% url "lista-vendedores" %}">Vendedores</a>
        <a href="#">Contato</a>
       {% comment %} Espaço de links alternados {% endcomment %}
    </div>

    {% comment %} Espaço para mensagem de boa vinda ou necessidade de logar {% endcomment %}
    

    {% block conteudo %}{% endblock conteudo %}

    <div class="rodape">
        <p>Bikcraft. Alguns direitos reservados</p>
    </div>

    {% block script %}{% endblock script %}
</body>
</html>