form {
    background: #efefef;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 10px;
}


form button {
    padding: 10px 20px;
    background-color: #e21;
    border-radius: 4px;
    color: #efefef;
    border: none;
    font-size: 1.2rem;
}

