{% extends "base/base.html" %}

{% load static %}
{% block head %}
     <link rel="stylesheet" href="{% static "bikes/css/container_produtos.css" %}">
{% endblock head %}
{% block conteudo %}

<h1> Sobre a loja </h1>
{% comment %} <a href='{% url "atualizar-loja" loja.id %}'>Atualizar</a> {% endcomment %}
<form method='GET' action='{% url "atualizar-loja" loja.id %}'>
    {% csrf_token %}
    <button type='submit'>Atualizar</button>
</form>
{% comment %} <a href='{% url "deletar-loja" loja.id %}'>Deletar</a> {% endcomment %}


<form method='DELETE' action='{% url "deletar-loja" loja.id %}'>
    {% csrf_token %}
    <button type='submit'>Deletar</button>
</form>

<h2> Nome: {{loja.nome}} </h2>
<p> CNPJ: {{loja.cnpj}}</p>

<h3> Lista de produtos da Loja </h3>
<div class='container-produtos'>
    {% for produto in loja.produtos.all %}
    
        <div class='produto-item'>
    
            <h2>{{produto.modelo}}</h2>
           
            <img class='foto' src='{{produto.foto.url}}'/>
            
            <p>{{produto.descricao}}</p>
            <h3>R$ {{produto.preco}}</h3>
            
        </div>
        {% endfor %}
</div>
<h3> Lista de vendedores da Loja </h3>

<div class='container-produtos'>
    {% for vendedor in loja.vendedores.all %}
    
        <div class='produto-item'>
            <h2>Vendedor: {{vendedor.nome}}</h2>
            <p>CPF: {{vendedor.cpf}}</h2>
            
        </div>
        {% endfor %}
</div> 
{% endblock conteudo %}