{% extends "base/base.html" %} 
{% load static %} 
{% block conteudo %}
<div class="conteudo">
        <div class="introducao">
            <span class="detalhe"></span>
            <h1>Bicicletas Feita a Mão</h1>
            <p> A nimbus Stark é a melhor Bikcraft já criada pela nossa eqipe. Ela vem com os melhores acessórios da marca.</p>
            <a class="botao" href="/">Ver mais</a>
        </div>
        <img src="{% static "bikes/img/bicicleta.jpg" %}" alt="Bicicleta Bikcraft">

        <h2 class="subtitulo">Vantagens Bikcraft</h2>

        <div class="vantagens">
            <div class="vantagens-item">
                <img src="{% static "bikes/img/eletrica.svg" %}" alt="">
                <h3>Motor Elétrico</h3>
                <p>Permite você viajar distâncias inimagináveis com a sua bike</p>
            </div>
            <div class="vantagens-item">
                <img src="{% static "bikes/img/velocidade.svg" %}" alt="">
                <h3>40 Km/h</h3>
                <p>A mais rápida bicicltea elétrica disponível hoje no mercado</p>
            </div>
            <div class="vantagens-item">
                <img src="{% static "bikes/img/rastreador.svg" %}" alt="">
                <h3>Rastreador</h3>
                <p>Rastreador e sistema anti-furto para garantir o seu sossego.</p>
            </div>

        </div>

    </div>

{% endblock conteudo %}


