{% extends "base/base.html" %}
{% load static %}
{% block head %}
     <link rel="stylesheet" href="{% static "bikes/css/container_produtos.css" %}">
{% endblock head %}


{% block conteudo %}
<div class='container-produtos'>
    <div class="row mt-4">
        <form method='GET' action='{% url "listar-bikes" %}'>
            <input type="text" name='search' class="form-control" id="search" placeholder="Pesquisar produtos...">
        </form>
        {% comment %} Inserir aqui o formulário para fazer a pesquisa por filtragem {% endcomment %}
        
    </div>
    <a href='{% url "cadastra-bike" %}' class='btn btn-primary mt-3'>Cadastrar Produto</a>
    <div class="row">
           
    </div>
        
        {% for bike in bikes %}
        <div class='produto-item'>
            
            <h2>{{bike.modelo}}</h2>
            
            <img class='foto' src='{{bike.foto.url}}'/>
            
            <p>{{bike.descricao}}</p>
            <h3>R$ {{bike.preco}}</h3>
            <ul>
                {% for loja in bike.loja_set.all %}
                <li> Loja: {{loja.nome}}</li>
                {% endfor %}
            </ul> 
            
        </div>
        {% endfor %}
        
</div>
{% endblock conteudo %}