{% extends "base/base.html" %}
{% load static %}
{% block head %}
     <link rel="stylesheet" href="{% static "bikes/css/container_produtos.css" %}">
{% endblock head %}


{% block conteudo %}
<div class='container-produtos'>

    {% for bike in bikes %}
        <div class='produto-item'>
    
            <h2>{{bike.modelo}}</h2>
           
            <img class='foto' src='{{bike.foto.url}}'/>
            
            <p>{{bike.descricao}}</p>
            <h3>R$ {{bike.preco}}</h3>
            <ul>
                {% for loja in bike.loja_set.all %}
                <li> Loja: {{loja.nome}}</li>
                {% endfor %}
            </ul>
            
        </div>
    {% endfor %}
        
</div>
{% endblock conteudo %}